# Creating Data Warehouse using _AWS S3_ and _Redshift Cluster_ using the AWS Python SDK _boto3_
## An example of Infrastructure-as-code

In [2]:
# Necessary imports
import pandas as pd
import boto3
import json

### Load DWH Params from a file

In [11]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

### Create clients for IAM, EC2, S3 and Redshift

In [13]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

----
### 1: Create IAM Role
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [14]:
from botocore.exceptions import ClientError

# Create the role
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    

# Attach the policy to role    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::969461666583:role/dwhRole

------
### 2:  Create Redshift Cluster

- Create a RedShift Cluster
- For complete arguments to `create_cluster`, check out [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [18]:
try:
    response = redshift.create_cluster(        
        # Hardware Type
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        # Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

#### 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [15]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-b6a5cace
7,NumberOfNodes,4

#### 2.2 Take note of the cluster endpoint and role ARN

In [28]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::969461666583:role/dwhRole

------
### 3: Open an incoming TCP port to access the cluster endpoint

In [18]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0e65ace47b62faf72')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [5]:

# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com" 
    

#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::969461666583:role/dwhRole"

----
### 4: Make sure you can connect to the cluster

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [19]:
%%sql
SELECT * FROM information_schema.columns WHERE TABLE_NAME = 'songs';

 * postgresql://dwhuser:***@dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('dwh', 'public', 'songs', 'year', 4, None, 'YES', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'dwh', 'pg_catalog', 'int4', None, None, None, None, '4', 'NO'),
 ('dwh', 'public', 'songs', 'artist_id', 3, None, 'NO', 'character varying', 256, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'dwh', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO'),
 ('dwh', 'public', 'songs', 'title', 2, None, 'YES', 'character varying', 256, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'dwh', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO'),
 ('dwh', 'public', 'songs', 'song_id', 1, None, 'NO', 'character varying', 256, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'dwh', 'pg_catalog', 'varchar', None, None, None, None, '1', 'NO'),
 ('dwh', 'public', 'songs', 'duration', 5, None, 'YES', 'numeric', None, None, 18, 10, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'dwh', 'pg_catalog', 'numeric', None, None, None, None, '5', 'NO')]

In [21]:
%%sql
SELECT
    TIMESTAMP 'epoch' + (CAST(est.ts AS BIGINT)/1000) * INTERVAL '1 second' AS start_time,
    est.userId,
    est.level,
    ISNULL(s.song_id, 'NULL'),
    ISNULL(s.artist_id, 'NULL'),
    est.sessionId,
    est.location,
    est.userAgent
    FROM event_staging est
    LEFT JOIN 
            (
            SELECT s.*, a.name as artist_name 
            FROM songs s
            JOIN artists a
            ON s.artist_id = a.artist_id
            ) AS s
        ON est.song = s.title
        AND est.length = s.duration
        AND est.artist = s.artist_name
WHERE est.page = 'NextSong'  LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 4, 5, 49, 6), 25, 'paid', 'NULL', 'NULL', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 4, 5, 51, 48), 25, 'paid', 'NULL', 'NULL', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (datetime.datetime(2018, 11, 3, 1, 8, 36), 53, 'free', 'NULL', 'NULL', 52, 'Klamath Falls, OR', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (datetime.datetime(2018, 11, 3, 14, 17, 50), 69, 'free', 'NULL', 'NULL', 158, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (datetime.datetime(2018, 11, 3, 16, 14, 50), 95, 'paid', 'NULL', 'NULL', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

-----
### 5: Clean up your AWS resources

<b><font color='red'>NOTE: DO NOT RUN THIS UNLESS YOU ARE SURE <br/>

In [22]:
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2020, 5, 12, 21, 56, 57, 898000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-1145a740',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-b6a5cace',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'mon:12:30-mon:13:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::969461666583:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '5d632b06-63b1-456d-8190-849e8fa63c25',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '5d632b06-63b1-456d-8190-849e8fa63c25',
   'content-type': 'text/xml',
   'content-length': '2382',
   'vary': 'accept-encoding',
   'date': 'Wed, 13 May 2020 03:27:22 GMT'},
  'RetryAttempts': 0}}

In [23]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ckiau2fnvvat.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-b6a5cace
7,NumberOfNodes,4

In [9]:
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': '5cbe2849-f82d-4c92-b3b0-fd2a6b39fbac',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '5cbe2849-f82d-4c92-b3b0-fd2a6b39fbac',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Tue, 12 May 2020 21:50:55 GMT'},
  'RetryAttempts': 0}}

------